# Students' Marks Analysis Project

Description: This project analyzes marks of 50 students across 3 subjects using NumPy.
Includes total, average, highest, pass/fail stats, and more.

In [1]:
import numpy as np

In [2]:
students_marks = np.random.randint(101,size = (50,3))

total_marks=np.sum(students_marks, axis=1)

print("Total marks of each student:")
for i in total_marks:
    print(i)

Total marks of each student:
185
117
63
159
118
90
93
217
45
132
234
78
196
150
251
166
170
151
195
114
122
166
44
96
212
115
191
107
197
170
103
152
92
70
265
189
226
87
83
106
159
205
212
228
178
227
92
58
31
204

In [3]:
print("Average marks of each student:")
for i in total_marks:
    avg_mark = round(i/3,1)
    print(avg_mark)

Average marks of each student:
61.7
39.0
21.0
53.0
39.3
30.0
31.0
72.3
15.0
44.0
78.0
26.0
65.3
50.0
83.7
55.3
56.7
50.3
65.0
38.0
40.7
55.3
14.7
32.0
70.7
38.3
63.7
35.7
65.7
56.7
34.3
50.7
30.7
23.3
88.3
63.0
75.3
29.0
27.7
35.3
53.0
68.3
70.7
76.0
59.3
75.7
30.7
19.3
10.3
68.0

In [4]:
print("Highest score of each student:")
for row in students_marks: #accessing rows
    highest_mark = np.max(row) 
    print(highest_mark)

Highest score of each student:
100
52
40
57
62
47
85
84
21
58
93
37
93
99
96
95
64
84
92
63
62
98
28
73
75
87
81
70
86
66
42
78
56
43
90
94
87
75
62
64
70
78
87
95
79
95
51
35
20
94

In [5]:
print("Lowest score of each student:")
for row in students_marks:
    lowest_mark = np.min(row)
    print(lowest_mark)

Lowest score of each student:
42
25
0
51
0
20
4
60
6
25
55
10
24
12
75
2
48
24
18
1
0
25
6
5
68
7
50
5
41
39
27
27
15
0
86
40
62
6
9
1
44
51
40
49
26
38
15
10
1
49

In [6]:
print("average number in each subject:")
sum_of_subj = np.sum(students_marks, axis = 0)
avg_of_subj = sum_of_subj/50
print(avg_of_subj)

average number in each subject:
[46.72 49.4  50.1 ]

In [7]:
print("Maximum marks in each subject:")
for i in students_marks.T: #iterating thru each column of original array thru transpose
    print(max(i))

print("Minimum marks in each subject")
for i in students_marks.T: 
    print(min(i))

Maximum marks in each subject:
99
95
100
Minimum marks in each subject
0
0
0

In [8]:
print("No. of students with more than 90 marks:")
above90 = np.sum(np.any(students_marks>90,axis=1))
print(above90)

No. of students with more than 90 marks:
12

In [9]:
print("No. of students who passed all exams:")
passing_marks = 35
passed_stud = np.sum(np.all(students_marks>35,axis=1)) 
print(passed_stud)

print("No. of students who failed any exam:")
failed_stud = np.sum(np.any(students_marks<passing_marks,axis=1)) 
print(failed_stud)

No. of students who passed all exams:
19
No. of students who failed any exam:
31

In [10]:
print("TOP 5 students of the class:")
sorted_total=np.sort(total_marks)
top5=sorted_total[-1:-6:-1]
print(top5)

print("Bottom 5 students of the class:")
bottom5 = sorted_total[:5]
print(bottom5)

TOP 5 students of the class:
[265 251 234 228 227]
Bottom 5 students of the class:
[31 44 45 58 63]

In [11]:
print("No. of students scored less than 20 in maths(1st column)")
maths_score = students_marks[:,0]
below20 = np.sum(maths_score>20)
print(below20)

No. of students scored less than 20 in maths(1st column)
37

In [12]:
#SUMMARY
print("Student who topped the class has a total score:", max(total_marks))
print("The top students are:", top5)
print("Each subject averages:", avg_of_subj)
print("No. of students who passed all exams:",passed_stud)
print("No. of students who passed any exams:",failed_stud)

Student who topped the class has a total score: 265
The top students are: [265 251 234 228 227]
Each subject averages: [46.72 49.4  50.1 ]
No. of students who passed all exams: 19
No. of students who passed any exams: 31